#GameTime
{
	width: 76px;
	height: 46px;

	vertical-align: top;
	horizontal-align: center;

	background-image: url("s2r://panorama/images/hud/reborn/bg_timer_psd.vtex");
	background-size: 100%;
}

#GameTime Label
{
	text-align: center;
	font-size: 25px;
	font-weight: semi-bold;
	color: white;
	vertical-align: top;
	horizontal-align: center;
	margin-top: 2px;
}

#PhaseLabel
{
	font-size: 14px;
	font-weight: semi-bold;
	color: white;
	vertical-align: top;
	horizontal-align: center;
	margin-top: 26px;
}
