game/*.bin
game/*.cfg
game/*.tmp

*.vpcf_c
*.vtex_c
*.vsndevts_c
*.vmat_c
*.vjs_c
*.vxml_c
*.vcss_c
*.vsnd_c
*.vanim_c
*.vmesh_c
*.vagrp_c
*.vmdl_c
*.vmorf_c
*.vphys_c

*.code-workspace

!game/materials/models/creeps/knoll_1/*.*
!game/materials/models/creeps/omni_golem/*.*
!game/materials/models/creeps/spirit_eater/*.*
!game/materials/models/heroes/siltbreaker/*.*
!game/materials/models/heroes/aghanim/*.*
!game/materials/models/gameplay/*.*

!game/particles/imported/*.vpcf_c
!game/particles/creeps/lane_creeps/*.vpcf_c

!game/models/heroes/**/*.*
!game/models/creeps/**/*.*
!game/models/gameplay/**/*.*

!game/materials/rich.vtex_c
!game/particles/econ/**/*.*

game/particles/econ/tournament

node_modules
game/models/creeps/ice_biome/frostbitten/n_creep_frostbitten_swollen01.vmat_c
game/models/creeps/ice_biome/frostbitten/n_creep_frostbitten_swollen01_color_png_875dd14b.vtex_c
game/models/creeps/ice_biome/frostbitten/n_creep_frostbitten_swollen01_mask_png_9000fd71.vtex_c
game/models/creeps/ice_biome/frostbitten/n_creep_frostbitten_swollen01_normal_png_b311a347.vtex_c
game/models/creeps/ice_biome/giant/ice_giant01.vmat_c
game/models/creeps/ice_biome/giant/ice_giant01_color_png_a6b7cc5b.vtex_c
game/models/creeps/ice_biome/giant/ice_giant01_mask_png_8faf75f0.vtex_c
game/models/creeps/ice_biome/giant/ice_giant01_normal_png_4c9118e7.vtex_c
game/models/creeps/ice_biome/ogreseal/ogreseal001.vmat_c
game/models/creeps/ice_biome/ogreseal/ogreseal001_color_2_png_9a569d0d.vtex_c
game/models/creeps/ice_biome/ogreseal/ogreseal001_mask_png_ad7c2848.vtex_c
game/models/creeps/ice_biome/ogreseal/ogreseal001_normal_png_ae606ba1.vtex_c

*.code-workspace
